$font-color: black;
$title-color: rgb(255, 250, 197);
$secondary-color: rgb(223, 190, 141);
$book-color: rgb(112, 52, 14);
$page-url: '../images/page.jpg';

body {
    margin: 0;
    padding: 20px;
    font-family: 'Yusei Magic';

    display: flex;
    flex-wrap: wrap;

    background-image: url('../images/wallpaper\ stars\ -\ Luciana\ Palomino.jpg');
}

input {
    font-family: 'Yusei Magic';
}

.page-title {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
    color: $title-color;

    animation: text-glow 2s ease-in-out infinite alternate;
}

@keyframes text-glow {
  from {
    text-shadow: 0 0 5px $title-color, 0 0 10px $title-color, 0 0 15px $title-color;
  }
  to {
    text-shadow: 0 0 10px $title-color, 0 0 20px lighten($title-color, 20%), 0 0 30px lighten($title-color, 30%);
  }
}

.col-7 {
    width: 58.3333%;
}

.col-5 {
    width: 41.6666%;
}

.search-container {
    display: flex;
    margin-bottom: 18px;

    .search-bar {
        box-sizing: border-box;
        margin: 8px 8px;
        flex-grow: 1;
        
        input {
            box-sizing: border-box;
            width: 100%;
            padding: 12px;
            border: none;
            background-color: $secondary-color;
            border-bottom: 2px solid black;
        }
    }
    
}

.filter-container {
    align-content: center;

    .label-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        width: 28px;
        height: 28px;
        padding: 4px;
        margin: 4px 4px 4px auto;
        
        background-color: $secondary-color;
        border: 2px solid $font-color;
        hr {
            box-sizing: border-box;
            margin: 0;
            width: 100%;
            border: 1px solid $font-color; 
        }
    }
}


.list-container {
    box-sizing: border-box;
    background-color: $book-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 10px 15px black;

    .list-panel {
        background-image: url($page-url);
        padding: 10px;
    
        .list-item {
            margin: 20px;
            padding: 8px;
            border: 2px solid black;

            p:nth-child(1) {
                font-weight: 700;
                font-size: 1.2rem;
            }
            p:nth-child(2) {
                color: gray;
            }
        }
    }
}

.details-container {
    position: fixed;
    top: 10vh;
    right: 0;
}

.details-card {
    box-sizing: border-box;
    margin: 100px;
    padding: 20px;

    background-image: url($page-url);
    box-shadow: 0px 10px 15px black;

    h3 {
        font-weight: bolder;
        font-size: 1.6rem;
        margin: 10px;
    }

    table {
        tbody {
          tr {
            td:nth-child(1) {
              padding-right: 40px;
              font-weight: bold;
            }
    
            td:nth-child(2) {
              color: lighten($font-color, 20%);
            }
          }
        }
    }
}

.nav-page {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;

    button {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }

    span {
        margin: 0 16px;
    }
}

.loading-msg {
    text-align: center;
}

// Filter

.hidden-checkbox {
    display: none;
}

.hidden-checkbox:checked+.toggle-content {
    display: block;
}
    
.toggle-content {
    display: none;
    z-index: 2;
    position: absolute;
    background-image: url($page-url);
    border: 4px solid $book-color;
    box-shadow: 0px 8px 8px black;
    padding: 8px;

    ul {
        list-style-type: none;
        padding: 10px 10px;
    }
}